* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.feature {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    align-items: center;
    justify-content: space-around;
}

.title {
    width: 708px;
    margin-top: 150px;
    margin-bottom: 0px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.feature-description {
    width: 634px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.feature-flower {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 100px;

}

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-title {
    margin-left: 230px;
    margin-left: 425px;
    margin-bottom: 0px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-description {
    margin-top: 24px;
    margin-bottom: 0px;
    margin-left: 395px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-hot-deal {
    padding: 20px 43px;
    margin-top: 32px;
    margin-left: 603px;
    border-radius: 8px;
    border: none;
    background: #E55473;
}

.hot-deal-flower {
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-left: 186px;
}

.menu-title {
    margin-top: 128px;
    margin-left: 870px;
    margin-right: 870px;
    margin-bottom: 0px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.menu-description {
    margin-top: 25px;
    margin-left: 663px;
    margin-right: 663px;
    margin-bottom: 0px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

}

.one {
    margin-left: 240px;
    width: 342px;
    height: 396px;
    margin-right: 100px;
}

.last {
    margin-right: 240px;;
}