* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.feature {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    align-items: center;
    justify-content: space-around;
}

.title {
    width: 708px;
    margin-top: 150px;
    margin-bottom: 0px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.feature-description {
    width: 634px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.feature-flower {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 100px;

}

.hot-deal {
    width: 1920px;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-title {
    width: 585px;
    height: 48px;
    margin-top: 200px;
    margin-bottom: 24px;
    margin-right: 215px;
    margin-left: 423px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-description {
    width: 594px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 395px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-hot-deal {
    padding: 20px 43px;
    margin-top: 32px;
    margin-left: 603px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: white;
}

.hot-deal-flower {
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 429px;
}

.container {
    width: 1920px;
    height: 832px;
}

.menu-title {
    margin-top: 128px;
    margin-left: 870px;
    margin-right: 870px;
    margin-bottom: 24px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.menu-description {
    width: 594px;
    height: 60px;
    margin-left: 663px;
    margin-right: 663px;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.flower-first {
    margin-top: 0px;
    margin-left: 230px;
    margin-right: 24px;
    margin-bottom: 30px;
}

.flower-second {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 24px;
    margin-bottom: 30px;

}

.flower-third {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 24px;
    margin-bottom: 30px;
}

.flower-fourth {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 230px;
    margin-bottom: 30px;
}

.contact {
    background-image: url("../Flower Asset/Rectangle 9.png");
    width: 1440px;
    height: 449px;
    margin-top: 0px;
    margin-right: 240px;
    margin-left: 240px;
    margin-bottom: 128px;
}

.contact-title {
    padding-top: 122px;
    padding-left: 500px;
    padding-right: 500px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.contact-description {
    margin-top: 10px;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.customer-email {
    padding-left: 287px;
    padding-bottom: 121px;
    align-items: center;
}

.email {
    width: 700px;
    height: 64px;
    padding-left: 20px;
    border-radius: 8px;
    border: none;
    background: #FFF;
}

.footer {
    width: 1920px;
    height: 449px;
    background: #111010;
}

.footer-title {
    padding-top: 128px;
    padding-left: 831px;
    padding-right: 832px;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.span-color {
    color: white;
}

.footer-description {
    width: 625px;
    margin-left: 648px;
    margin-right: 649px;
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.copyright {
    padding-left: 760px;
    padding-right: 760px;
    padding-bottom: 128px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}